@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter-tight);
  --radius-sm: 2px;
  --radius-md: 6px;
  --radius-lg: 8px;
}

:root {
  /* Gravtah Base Colors */
  --background: #F4F4F5; /* Zinc-100 */
  --foreground: #0C0C0C;

  /* Shadcn Tokens */
  --card: #FFFFFF;
  --card-foreground: #0C0C0C;
 
  --popover: #FFFFFF;
  --popover-foreground: #0C0C0C;
 
  --primary: #0C0C0C;
  --primary-foreground: #FFFFFF;
 
  --secondary: #FFFFFF;
  --secondary-foreground: #0C0C0C;
 
  --muted: #F4F4F5;
  --muted-foreground: #52525B;
 
  --accent: #F4F4F5;
  --accent-foreground: #0C0C0C;
 
  --destructive: #EF4444;
  --destructive-foreground: #FFFFFF;

  --border: #E4E4E7; /* Zinc-200 */
  --input: #E4E4E7;
  --ring: #0C0C0C;

  --radius: 0.375rem;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter-tight), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

